.flex-container {
  background-color: transparent;
}

/* Flex Container 1 */
.flex-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 900px;
  margin: 0 auto;
}

.flex-container-1 .flex-item {
  flex: 0 0 auto;
}


.flex-container-1 .item6 {
  margin-left: 180px;
}

/* Flex Container 2 */
.flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 900px;
  margin: 0 auto;
}

.flex-container-2 .flex-item {
  flex: 0 0 auto;
}

/* Flex Container 3 */
.flex-container-3 {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 400px;

  align-content: space-between;
}

/* Flex Container 4 */
.flex-container-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;

  width: 900px;
  margin: 0 auto;
}

.flex-container-4 .flex-item {
  flex: 0 0 auto;
}

/* Flex Container 5 */
.flex-container-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  width: fit-content;
  margin: 0 auto;
}

.flex-container-5 .item1 {
  height: 220px;
}

.flex-container-5 .item2 {
  height: 320px;
}

.flex-container-5 .item3 {
  height: 220px;
}

.flex-container-5 .item4 {
  height: 150px;
}

.flex-container-5 .item5 {
  height: 150px;
}

.flex-container-5 .item6 {
  height: 260px;
}

.flex-container-5 .item7 {
  height: 150px;
}

.flex-container-5 .item8 {
  height: 320px;
}

/* Flex Container 6 */
.flex-container-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;

  align-content: space-between;
}

.flex-container-6 .flex-item {
  width: 300px;
}